# Analisis de los gastos
## El objetivo de este analisis es encontrar incidencias o dispariedades, porcentajse y una manera de analizar rapidamente

In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, date, time, timedelta
import calendar
from functools import reduce
import openpyxl
import string

## Descarga de los datos y limpieza

In [88]:
data = pd.ExcelFile('prueba.xlsm')
sheet_to_df_map = {}
E=['C','I','P','T','EXTRAS']

In [89]:
z=list(map(lambda sheet:data.parse(sheet),data.sheet_names))

In [183]:
sheet_to_df_map['C']=list(map(lambda month:z[month].loc[z[month].iloc[:,0].isna()!=True,['CEDIS','Unnamed: 1']],range(len(z))))
sheet_to_df_map['I']=list(map(lambda month:z[month].loc[z[month].iloc[:,3].isna()!=True,['INGLATERRA','Unnamed: 4']],range(len(z))))
sheet_to_df_map['P']=list(map(lambda month:z[month].loc[z[month].iloc[:,9].isna()!=True,['PALOMAR','Unnamed: 10']],range(len(z))))
sheet_to_df_map['T']=list(map(lambda month:z[month].loc[z[month].iloc[:,6].isna()!=True,['TEPEYAC','Unnamed: 7']],range(len(z))))
sheet_to_df_map['EXTRAS']=list(map(lambda month:z[month].loc[z[month].iloc[:,12].isna()!=True,['CONCEPTO','IMPORTE']],range(len(z))))

# Gastos Mensuales

In [184]:
#Todos los totales de gastos menuales
G_Men=list(map(lambda e:list(map(lambda month:np.sum(sheet_to_df_map[e][month].iloc[:,1]),range(len(z)))),E))
totales=list(map(lambda e:np.sum(G_Men[e]),range(len(G_Men))))

# Encontrar algunos Porcentajes segun Categorias

In [217]:
# comisiones bancarias, impuestos federales, imsss
categories=['COMISIONES BANCARIAS','IMPUESTOS FEDERALES','IMSS','MANTENIMIENTO','NOMINA','PAPELERIA','RENTA','VENTA','OPERACIONES',]

# Englobar los Gastos extra en su respectiva sucursal en los gastos

### Funcion clasificadora

In [28]:
def clasify(data):
    if('COMISION' in data):
        return 1
    elif('IMPUESTOS 2%' in data or 'IMPUESTOS FEDERALES' in data):
        return 2
    elif('SEGURO SOCIAL' in data):
        return 3
    elif('MANTENIMIENTO' in data):
        return 4
    elif('NOMINA' in data):
        return 5
    elif('PAPELERIA' in data):
        return 6
    elif('RENTA' in data):
        return 7
    elif('ANUNCIO' in data or 'VOLANTES' in data):
        return 8
    else:
        return 9

#### Gastos clasificados

In [209]:
c=list(map(lambda e:list(map(lambda month:list(map(lambda data:clasify(data),sheet_to_df_map[e][month].iloc[:,0])),range(len(z)))),E)) #numeric clasification
clasify_expenses=list(map(lambda cat:list(map(lambda e,e1:list(map(lambda month:sheet_to_df_map[e][month].loc[np.array(c[e1][month])==cat,:],range(len(z)))),E,range(len(c)))),range(len(categories)+1)))

#### Totales de manera mensual

In [220]:
#category,enterprise,month

totalM_category_expenses=list(map(lambda e:list(map(lambda cat:list(map(lambda month:np.sum(clasify_expenses[cat][e][month].iloc[:,1]),range(len(z)))),range(len(categories)+1))),range(len(E))))
def dfTotal_Mensual(empresa,e):
    df = pd.DataFrame(index=data.sheet_names,columns=categories, dtype='float')
    df.index.name = empresa
    df.iloc[:,0]=totalM_category_expenses[e][1]
    df.iloc[:,1]=totalM_category_expenses[e][2]
    df.iloc[:,2]=totalM_category_expenses[e][3]
    df.iloc[:,3]=totalM_category_expenses[e][4]
    df.iloc[:,4]=totalM_category_expenses[e][5]
    df.iloc[:,5]=totalM_category_expenses[e][6]
    df.iloc[:,6]=totalM_category_expenses[e][7]
    df.iloc[:,7]=totalM_category_expenses[e][8]
    df.iloc[:,8]=totalM_category_expenses[e][9]
    return df

In [223]:
df=dfTotal_Mensual('CEDIS',0)
df

,COMISIONES BANCARIAS,IMPUESTOS FEDERALES,IMSS,MANTENIMIENTO,NOMINA,PAPELERIA,RENTA,VENTA,OPERACIONES
CEDIS,,,,,,,,,
ENERO 18,0.0,0.0,0.0,0.0,72772.010,919.50,4000.0,0.0,15863.00
FEBRERO 18,0.0,0.0,0.0,0.0,82306.380,0.00,4000.0,286.0,10246.00
MARZO 18,0.0,0.0,0.0,0.0,77520.820,0.00,4000.0,887.0,6015.97
ABRIL 18,0.0,0.0,0.0,0.0,100014.920,0.00,4000.0,363.0,16850.00
MAYO 18,0.0,0.0,0.0,0.0,82192.340,0.00,4000.0,0.0,34848.95
JUNIO 18,0.0,0.0,0.0,0.0,103497.125,1646.55,4000.0,200.0,12467.00
JULIO 18,0.0,0.0,0.0,435.0,85579.160,0.00,4000.0,563.0,72045.33
AGOSTO 18,0.0,0.0,0.0,0.0,79152.885,0.00,4000.0,0.0,28087.98
SEPTIEMBRE 18,0.0,0.0,0.0,0.0,97762.045,981.40,4000.0,297.0,57441.65

In [224]:
df=dfTotal_Mensual('INGLATERRA',1)
df

,COMISIONES BANCARIAS,IMPUESTOS FEDERALES,IMSS,MANTENIMIENTO,NOMINA,PAPELERIA,RENTA,VENTA,OPERACIONES
INGLATERRA,,,,,,,,,
ENERO 18,0.0,0.0,0.0,0.0,101036.060,0.0,11140.0,148.5,13203.00
FEBRERO 18,0.0,0.0,0.0,0.0,86988.654,0.0,0.0,0.0,25941.50
MARZO 18,0.0,0.0,0.0,0.0,73083.798,0.0,0.0,0.0,9688.00
ABRIL 18,0.0,0.0,0.0,0.0,106489.578,0.0,0.0,0.0,10062.00
MAYO 18,0.0,0.0,0.0,0.0,84239.174,0.0,0.0,0.0,11089.00
JUNIO 18,0.0,0.0,0.0,0.0,118533.321,0.0,0.0,187.0,12454.95
JULIO 18,0.0,0.0,0.0,0.0,86967.004,0.0,0.0,0.0,844.00
AGOSTO 18,0.0,0.0,0.0,0.0,85523.045,0.0,0.0,0.0,13344.70
SEPTIEMBRE 18,0.0,0.0,0.0,0.0,118478.654,0.0,0.0,198.0,15245.00

In [225]:
df=dfTotal_Mensual('PALOAMAR',2)
df

,COMISIONES BANCARIAS,IMPUESTOS FEDERALES,IMSS,MANTENIMIENTO,NOMINA,PAPELERIA,RENTA,VENTA,OPERACIONES
PALOAMAR,,,,,,,,,
ENERO 18,0.0,0.0,0.0,0.0,35385.39,0.0,0.0,148.5,6435.0
FEBRERO 18,0.0,0.0,0.0,0.0,40606.83,0.0,0.0,0.0,5488.0
MARZO 18,0.0,0.0,0.0,0.0,39417.68,0.0,0.0,0.0,9210.0
ABRIL 18,0.0,0.0,0.0,0.0,42013.37,0.0,0.0,0.0,3600.0
MAYO 18,0.0,0.0,0.0,0.0,40406.94,0.0,0.0,0.0,1146.0
JUNIO 18,0.0,0.0,0.0,0.0,53222.32,0.0,0.0,0.0,573.0
JULIO 18,0.0,0.0,0.0,0.0,42177.70,0.0,0.0,0.0,0.0
AGOSTO 18,0.0,0.0,0.0,0.0,40886.44,0.0,0.0,0.0,151.0
SEPTIEMBRE 18,0.0,0.0,0.0,0.0,55243.10,0.0,0.0,0.0,5644.0

In [226]:
df=dfTotal_Mensual('TEPEYAC',3)
df

,COMISIONES BANCARIAS,IMPUESTOS FEDERALES,IMSS,MANTENIMIENTO,NOMINA,PAPELERIA,RENTA,VENTA,OPERACIONES
TEPEYAC,,,,,,,,,
ENERO 18,0.0,0.0,0.0,0.0,44663.89,0.0,0.0,148.5,5129.0
FEBRERO 18,0.0,0.0,0.0,0.0,44942.54,0.0,0.0,0.0,5785.0
MARZO 18,0.0,0.0,0.0,0.0,47743.43,0.0,0.0,0.0,1795.0
ABRIL 18,0.0,0.0,0.0,0.0,56783.79,0.0,0.0,0.0,800.0
MAYO 18,0.0,0.0,0.0,0.0,44169.32,0.0,0.0,0.0,3241.0
JUNIO 18,0.0,0.0,0.0,0.0,52757.31,0.0,0.0,187.0,16187.4
JULIO 18,0.0,0.0,0.0,0.0,40172.20,0.0,0.0,0.0,0.0
AGOSTO 18,0.0,0.0,0.0,0.0,45182.74,0.0,0.0,0.0,10642.8
SEPTIEMBRE 18,0.0,0.0,0.0,0.0,56809.91,0.0,0.0,198.0,14980.9

In [227]:
df=dfTotal_Mensual('EXTRAS',4)
df

,COMISIONES BANCARIAS,IMPUESTOS FEDERALES,IMSS,MANTENIMIENTO,NOMINA,PAPELERIA,RENTA,VENTA,OPERACIONES
EXTRAS,,,,,,,,,
ENERO 18,10005.54,6361.0,25396.18,19958.00,0.0,0.00,52450.09,0.0,85874.84
FEBRERO 18,10000.46,12953.0,8899.21,21897.14,0.0,5641.66,52450.09,0.0,67323.46
MARZO 18,11485.11,16460.0,25163.03,37572.80,0.0,2674.38,52450.09,0.0,93243.82
ABRIL 18,10765.73,21999.0,9708.66,13000.00,0.0,0.00,52450.09,0.0,138553.26
MAYO 18,10062.44,25089.0,26190.77,18215.20,0.0,2576.94,52450.09,0.0,109702.08
JUNIO 18,9459.70,25740.0,11391.91,13160.00,0.0,1158.26,52450.09,0.0,130456.22
JULIO 18,11979.95,32499.0,29593.32,16872.00,0.0,10364.60,52450.09,0.0,274006.36
AGOSTO 18,10243.99,19227.0,11350.97,35277.95,0.0,0.00,52450.09,0.0,172553.66
SEPTIEMBRE 18,9974.80,34189.0,33522.13,34615.96,0.0,0.00,54973.67,0.0,116551.96

# Resultados

In [185]:
df = pd.DataFrame(index=data.sheet_names,columns=['CEDIS', 'INGLATERRA','PALOMAR','TEPEYAC','EXTRAS'], dtype='float')
df.iloc[:,0]=G_Men[0]
df.iloc[:,1]=G_Men[1]
df.iloc[:,2]=G_Men[2]
df.iloc[:,3]=G_Men[3]
df.iloc[:,4]=G_Men[4]
df

                    CEDIS  INGLATERRA   PALOMAR   TEPEYAC     EXTRAS
ENERO 18        93554.510  125527.560  41968.89  49941.39  200045.65
FEBRERO 18      96838.380  112930.154  46094.83  50727.54  179165.02
MARZO 18        88423.790   82771.798  48627.68  49538.43  239049.23
ABRIL 18       121227.920  116551.578  45613.37  57583.79  246476.74
MAYO 18        121041.290   95328.174  41552.94  47410.32  244286.52
JUNIO 18       121810.675  131175.271  53795.32  69131.71  243816.18
JULIO 18       162622.490   87811.004  42177.70  40172.20  427765.32
AGOSTO 18      111240.865   98867.745  41037.44  55825.54  301103.66
SEPTIEMBRE 18  160482.095  133921.654  60887.10  71988.81  283827.52

In [186]:
totales

[1077242.015, 984884.938, 421755.27, 492319.73000000004, 2365535.84]