# Analisis de los gastos
## El objetivo de este analisis es encontrar incidencias o dispariedades, porcentajse y una manera de analizar rapidamente

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, date, time, timedelta
import calendar
from functools import reduce
import openpyxl
import string

## Descarga de los datos y limpieza

In [3]:
data = pd.ExcelFile('prueba.xlsx')
sheet_to_df_map = {}
E=['C','I','P','T','EXTRAS']

In [4]:
z=list(map(lambda sheet:data.parse(sheet),data.sheet_names))

In [40]:
sheet_to_df_map['C']=list(map(lambda month:z[month].loc[z[month].iloc[:,0].isna()!=True,['CEDIS','Unnamed: 1']],range(len(z))))
sheet_to_df_map['I']=list(map(lambda month:z[month].loc[z[month].iloc[:,3].isna()!=True,['INGLATERRA','Unnamed: 4']],range(len(z))))
sheet_to_df_map['P']=list(map(lambda month:z[month].loc[z[month].iloc[:,9].isna()!=True,['PALOMAR','Unnamed: 10']],range(len(z))))
sheet_to_df_map['T']=list(map(lambda month:z[month].loc[z[month].iloc[:,6].isna()!=True,['TEPEYAC','Unnamed: 7']],range(len(z))))
sheet_to_df_map['EXTRAS']=list(map(lambda month:z[month].loc[z[month].iloc[:,12].isna()!=True,['BENEFICIARIO','Importe']],range(len(z))))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

# Gastos Mensuales

In [56]:
#Todos los totales de gastos menuales
G_Men=list(map(lambda e:list(map(lambda month:np.sum(sheet_to_df_map[e][month].iloc[:,1]),range(len(z)))),E))
totales=list(map(lambda e:np.sum(G_Men[e]),range(len(G_Men))))

# Encontrar algunos Porcentajes segun Categorias

In [ ]:
categories=['COMISION BANCARIA','IMPUESTOS FEDERALES','IMSS','MANTENIMIENTO','NOMINA','OPERACIONES','RENTA']

# Englobar los Gastos extra en su respectiva sucursal en los gastos

# Resultados

In [54]:
df = pd.DataFrame(index=data.sheet_names,columns=['CEDIS', 'INGLATERRA','PALOMAR','TEPEYAC','EXTRAS'], dtype='float')
df.iloc[:,0]=G_Men[0]
df.iloc[:,1]=G_Men[1]
df.iloc[:,2]=G_Men[2]
df.iloc[:,3]=G_Men[3]
df.iloc[:,4]=G_Men[4]
df

                    CEDIS  INGLATERRA   PALOMAR   TEPEYAC     EXTRAS
ENERO 18        93554.510  125527.560  41968.89  49941.39  200045.65
FEBRERO 18      96838.380  112930.154  46094.83  50727.54  179165.02
MARZO 18        88423.790   82771.798  48627.68  49538.43  239049.23
ABRIL 18       121227.920  116551.578  45613.37  57583.79  246476.74
MAYO 18        121041.290   95328.174  41552.94  47410.32  244286.52
JUNIO 18       121810.675  131175.271  53795.32  69131.71  243816.18
JULIO 18       162622.490   87811.004  42177.70  40172.20  427765.32
AGOSTO 18      111240.865   98867.745  41037.44  55825.54  301103.66
SEPTIEMBRE 18  160482.095  133921.654  60887.10  71988.81  283827.52

In [57]:
totales

[1077242.015, 984884.938, 421755.27, 492319.73000000004, 2365535.84]